{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h1>Lista de Bases de Datos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de la Base de Datos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for db in page_obj %}
                <tr>
                    <td>{{ db.0 }}</td>
                    <td>
                        <a href="{% url 'ver_estructura_base_datos' db.0 %}" class="btn btn-primary btn-sm">Ver Estructura</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %}

            <li class="page-item disabled"><span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock content %}