<div class="container text-center">
    <div class="d-inline-block" style=" text-align: center;">
        <div class="card text-center" style="width: 10rem">
            <div class="card-header">
                <a href="#" class="">Consultas</a>
            </div>
          <div class="card-body">
            <a href="#" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-info" viewBox="0 0 16 16">
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
            </a>
              <p class="card-text">Conuslta de informacion...</p>
          </div>
        </div>
    </div>
      
      <div class="d-inline-block">
        <div class="card text-center" style="width: 10rem;">
            <div class="card-header">
                <a href="#" class="">RRHH</a>
            </div>
          <div class="card-body">
            <a href="#" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-suitcase-lg-fill" viewBox="0 0 16 16">
                    <path d="M7 0a2 2 0 0 0-2 2H1.5A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14H2a.5.5 0 0 0 1 0h10a.5.5 0 0 0 1 0h.5a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2H11a2 2 0 0 0-2-2zM6 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zM3 13V3h1v10zm9 0V3h1v10z"/>
                </svg>
            </a>
              <p class="card-text">Administracion de RRHH...</p>
          </div>
        </div>
      </div>
      <div class="d-inline-block">
        <div class="card text-center" style="width: 10rem;">
            <div class="card-header">
                <a href="#" class="">Contabilidad</a>
            </div>
          <div class="card-body">
            <a href="#" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-p-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.5 4.002V12h1.283V9.164h1.668C10.033 9.164 11 8.08 11 6.586c0-1.482-.955-2.584-2.538-2.584zm2.77 4.072c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97z"/>
                </svg>
            </a>
              <p class="card-text">Gestion de cuentas...</p>
          </div>
        </div>
      </div>
      
      <div class="d-inline-block">
        <div class="card text-center" style="width: 10rem;">
            <div class="card-header">
                <a href="#" class="">Informatica</a>
            </div>
          <div class="card-body">
            <a href="#" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                    <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1"/>
                </svg>
            </a>
              <p class="card-text">Tikets, registros de datos, etc...</p>
          </div>
        </div>
      </div>
    
</div>