

<ul class="list-unstyled components mb-5">
    <!-- Productos -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseProductos1" role="button" aria-expanded="false" aria-controls="collapseProductos">
            Contabilidad
        </a>
        <div class="collapse" id="collapseProductos">
            <ul class="list-group list-group-flush"> <!-- Añade la clase list-group-flush para eliminar los bordes entre los elementos -->
                <li class="list-group-item"><a href="#" class="text-dark">Contabilidad1</a></li> <!-- Agrega la clase text-dark para cambiar el color del texto a negro -->
                <li class="list-group-item"><a href="#" class="text-dark">Contabilidad1</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Contabilidad1</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Contabilidad1</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Contabilidad1</a></li>
            </ul>
        </div>
    </li>

    <!-- Clientes -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseClientes1" role="button" aria-expanded="false" aria-controls="collapseClientes">
            RRHH
        </a>
        <div class="collapse" id="collapseClientes">
            <ul class="list-group list-group-flush"> <!-- Añade la clase list-group-flush para eliminar los bordes entre los elementos -->
                <li class="list-group-item"><a href="#" class="text-dark">RRHH1</a></li> <!-- Agrega la clase text-dark para cambiar el color del texto a negro -->
                <li class="list-group-item"><a href="#" class="text-dark">RRHH1</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">RRHH1</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">RRHH1</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">RRHH1</a></li>
            </ul>
        </div>
    </li>

    <!-- Proveedores -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseProveedores1" role="button" aria-expanded="false" aria-controls="collapseProveedores">
            Informatica
        </a>
        <div class="collapse" id="collapseProveedores">
            <ul class="list-group list-group-flush"> <!-- Añade la clase list-group-flush para eliminar los bordes entre los elementos -->
                <li class="list-group-item"><a href="#" class="text-dark">it123</a></li> <!-- Agrega la clase text-dark para cambiar el color del texto a negro -->
                <li class="list-group-item"><a href="#" class="text-dark">it123</a></li>
                <li class="list-group-item"><a href="#" class="text-dark"> it123 </a></li>
                <li class="list-group-item"><a href="#" class="text-dark">it123</a></li>
            </ul>
        </div>
    </li>

    <!-- Compras -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseCompras1" role="button" aria-expanded="false" aria-controls="collapseCompras">
            Ventas
        </a>
        <div class="collapse" id="collapseCompras">
            <ul class="list-group list-group-flush"> <!-- Añade la clase list-group-flush para eliminar los bordes entre los elementos -->
                <li class="list-group-item"><a href="#" class="text-dark">Ventas1235</a></li> <!-- Agrega la clase text-dark para cambiar el color del texto a negro -->
                <li class="list-group-item"><a href="#" class="text-dark">Ventas1235</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Ventas1235</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">GVentas1235</a></li>
            </ul>
        </div>
    </li>

    <!-- Kardex -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseKardex1" role="button" aria-expanded="false" aria-controls="collapseKardex">
            Facturacion
        </a>
        <div class="collapse" id="collapseKardex">
            <ul class="list-group list-group-flush"> <!-- Añade la clase list-group-flush para eliminar los bordes entre los elementos -->
                <li class="list-group-item"><a href="#" class="text-dark">Facturacion124124</a></li> <!-- Agrega la clase text-dark para cambiar el color del texto a negro -->
                <li class="list-group-item"><a href="#" class="text-dark">Facturacion124124</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Facturacion124124</a></li>
            </ul>
        </div>
    </li>
</ul>
