<ul class="list-unstyled components mb-5">
    <!-- Gestión de CONTABILIDAD -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseGestionProductos" role="button" aria-expanded="false" aria-controls="collapseGestionProductos">
            Gestión de Quedan
        </a>
        <div class="collapse" id="collapseGestionProductos">
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item"><a href="{% url "listar_quedans" %}" class="text-dark">Lista de Quedan's</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Envios de Quedan's</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Registro de Eventos</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Consultas</a></li>
            </ul>
        </div>
    </li>