<ul class="list-unstyled components mb-5">
    <!--  -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapsePuntoVenta" role="button" aria-expanded="false" aria-controls="collapsePuntoVenta">
            Base de Datos
        </a>
        <div class="collapse" id="collapsePuntoVenta">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url "listar_bases_datos" %}" class="text-dark">Lista de Quedan's</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">2</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">3</a></li>
            </ul>
        </div>
    </li>
    
    <!--  -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapsePromocionesDescuentos" role="button" aria-expanded="false" aria-controls="collapsePromocionesDescuentos">
            Operacion 2
        </a>
        <div class="collapse" id="collapsePromocionesDescuentos">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">1</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">2</a></li>
            </ul>
        </div>
    </li>

    <!--  -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseFormasPago" role="button" aria-expanded="false" aria-controls="collapseFormasPago">
            Operacion 3
        </a>
        <div class="collapse" id="collapseFormasPago">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">1</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">2</a></li>
            </ul>
        </div>
    </li>
</ul>
