{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="mt-5">Autenticación en el Sistema Tributario</h1>

    <a href="{% url 'autenticacion-api' %}" class="btn btn-warning btn-sm me-1">
        <i class="bi bi-pencil-square"></i> Autenticacion API
    </a>
    
    <!-- Formulario de autenticación con envío tradicional -->
    <form id="auth-form" action="{% url 'autenticacion' %}" method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="user" class="form-label">Usuario (NIT Empresa)</label>
            <input type="text" class="form-control" id="user" name="user" placeholder="Ingresa tu usuario" required>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Ingresa tu contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Autenticar</button>
    </form>

    <!-- Sección para mostrar mensajes de éxito o error -->
    <div class="mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Tabla para mostrar los tokens registrados -->
    <h2 class="mt-5">Tokens Registrados</h2>
    <style>
        .token-cell {
            max-width: 250px; /* Ajusta el ancho máximo según tus necesidades */
            overflow-x: auto; /* Agrega un scroll horizontal si el contenido es muy largo */
            white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        }
    </style>
    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>NIT Empresa</th>
                <th>Token</th>
                <th>Tipo de Token</th>
                <th>Roles</th>
                <th>Fecha de Creación</th>
                <th>Última Actualización</th>
                <th>Fecha de Caducidad</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for token in tokens %}
            <tr>
                <td>{{ token.nit_empresa }}</td>
                <td class="token-cell">{{ token.token }}</td>
                <td>{{ token.token_type }}</td>
                <td>{{ token.roles|join:", " }}</td>
                <td>{{ token.created_at }}</td>
                <td>{{ token.updated_at }}</td>
                <td>{{ token.fecha_caducidad }}</td>
                <td>{% if token.activado %}<span class="badge bg-success">Activo</span>{% else %}<span class="badge bg-danger">Inactivo</span>{% endif %}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="text-center">No hay tokens registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
